.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5fcff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.loginTitle {
    font-size: 24px;
    color: #4638ab;
    margin-bottom: 20px;
}

.input {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.loginButton {
    background-color: #4638ab;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.loginAsText {
    margin-bottom: 20px;
}

.forgotPasswordText {
    color: #4638ab;
    cursor: pointer;
}