.calendar {
    padding: 11px;
    font-size: small;
    border: 1px solid;
    margin-left: 10%;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100%;
    margin: auto;
    overflow-x: auto;
    margin-left: 45px;
}
.filter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #928989;
}
.fc-theme-standard .fc-scrollgrid {
    border: 1px solid #928989;
}