.schedule-form-main{
    display: flex;
}
.schedule-form-wrapper{
    display: flex;
    background-color: rgb(224, 193, 243);
    width: 230px;
    height: auto;
    box-shadow: 0px 10px 10px #ccc;
}

.schedule-form>input{
    width: 200px;
    height: 3%;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


.schedule-form>h3{
    margin-left: 10px;
    margin-bottom: 0px;
}


.schedule-form>label{
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 90%;
}

.Select{
    width: 200px;
    height: 4%;
    background-color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.schedule-form-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-form-button>button {
    width: 70%;
    height: 30%;
    background-color: #8040B8;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    margin-left: 115px;
    margin-right: 10px;
    margin-top: 20px;
}

.dataPlan {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-bottom: -20px;
    margin-top: 4px;

}
 .dataPlan label {
    margin-right: 10px;
    margin-bottom: -14px;
    margin-top: -20px;
 }

 .dataPlan p {
    width: 110px;
    margin-top: 8px;
    font-size: small;
 }

 .conflictMsg{
    width: 200px;
    margin-left: 10px;
    color: red;
    height: 6%;
    font-size: small;
 }